# Evaluation
nltk==3.8.1
symspellpy==6.7.7
sacrebleu==2.3.1

# LLM
#openai==0.28.1
openai==1.54.4
httpx==0.27.2
iso639==0.1.4

# Symspell + Flair correction
scipy==1.12 # https://stackoverflow.com/questions/78279136/importerror-cannot-import-name-triu-from-scipy-linalg-gensim
torch==2.1.1
flair
